body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Background path agar static folder mein hai */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('background.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.1); /* Glass effect */
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    width: 450px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

h1 {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

p {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    background: white;
    box-sizing: border-box;
}

.analyze-btn {
    width: 100%;
    background: #3498db;
    color: white;
    border: none;
    padding: 15px;
    margin-top: 25px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(52, 152, 219, 0.4);
}
